/* increase font size */
#content {
  font-size: 16px
}

/* decrease space between bullets and paragraph */
#content p + ul, #content p + ol {
  margin-top: -24px;
}

/* space out code blocks */
#content p + .highlight {
  margin-top: -12px;
}

#content .highlight, ul, ol {
  margin-bottom: 24px;
}

/* align pictures */
.aligncenter {
  text-align: center;
}
